# Ignore build and debug output
bin/
obj/

# Ignore user-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Ignore logs
*.log

# Ignore temporary files
*.tmp
*.temp

# Ignore IDE-specific files
.vscode/
.idea/

# Ignore node_modules for Angular UI
UI/scraper-ui/node_modules/

# Ignore Angular build output
UI/scraper-ui/dist/


# Ignore other non-relevant files
*.pdb
*.cache
*.nuget
*.dll
*.exe
*.json
*.xml
*.html
*.png
*.txt